﻿
  @font-face {
    font-family: robobo; /* Имя шрифта */
    src: url(robobo.ttf); /* Путь к файлу со шрифтом */
  }


  @font-face {
    font-family: roboboThin; /* Имя шрифта */
    src: url(robotoLight.ttf); /* Путь к файлу со шрифтом */
  }


  

  